{
  "presets": [
    "es2015",
    "stage-0",
    "bluebird"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-react-jsx",
    "add-module-exports",
    "react-require",
    "lodash"
  ]
}